@import url('https://fonts.googleapis.com/css?family=Lilita+One|Open+Sans');

.App {
  text-align: center;
}

.App-footer {
  min-height: 10vh;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  font-family: 'Lilita One', cursive;
  border-top: 1px solid  #e91e63;
  color: #e91e63;
}

.App-header {
  min-height: 10vh;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: 'Lilita One', cursive;
  font-size: calc(10px + 2vmin);
  color: #e91e63;
  border-bottom: 1px solid  #e91e63;
  text-shadow:2px 2px #c0c0c0;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans' sans-serif;
}

.blog-item {
  padding: 5px;
  width: 75vw;
}

.subHeading {
  color: #e91e63;
  font-family: 'Lilita One', cursive;
}
