
body {
  margin: 0;
  padding: 0;
  background-color: #fbfbfc;
  color: #212121;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: #EF6191;
}

a:hover {
  text-shadow: 2px 2px 3px #212121;
}
